name: prerelease

on:
  push:
    tags:
      - 'v*ALPHA*'
      - 'v*BETA*'
      - 'v*RC*'
  workflow_dispatch:

jobs:
  release:
    uses: mrgoodbytes8667/workflows/.github/workflows/release.yml@php8.0-8.1
    with:
      phpUnitVersion: 9.5
      prerelease: true